@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: var(--tint-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --purple: rgb(94, 92, 230);
  --tint-purple: rgb(88, 86, 214);
  --black: rgb(44, 44, 46);
  --black2: rgb(58, 58, 60);
  --tint-black: rgb(28, 28, 30);
  --white-darker: rgb(209, 209, 214);
}
